<div id="threads" class="card text-center mt-4 mb-4">
  <div class="card-header">
    Threads
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <div class="nav-link active">All</div>
      </li>
      <li class="nav-item">
        <div class="nav-link">Questions</div>
      </li>
      <li class="nav-item">
        <div class="nav-link">Topics</div>
      </li>
    </ul>
  </div>
  <div class="card-block" role="container">
    <div class="loader"></div>
  </div>
</div>
