
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/.sass-cache
/.tmp
.gitattributes
/node_modules
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/config/applicationhost.config
/.vs/cms/v15/.suo