.navbar {
  background-color: $navbar-bg-color !important;
  @include set-prefix("box-shadow", "0px 1px 15px -1px #{$navbar-shadow-color}");
  #navbar-content {
    align-self: stretch;
  }

  .navbar-nav {
    flex: 4;
  }

  .navbar-toggler-left {
    position: static;
    margin-right: 1rem;
  }

  .navbar-brand {
    flex: 2;
  }

  .nav-pills {
    .nav-item {
      position: relative;
      &:hover {
        &:after{
          @include show-line("bottom-right");
          height: 2px;
          width: 100%;
          background: $btn-primary-bg;
        }
      }
      & > .nav-link {
        display: table;
        height: 100%;
        border-radius: 0;
        & > span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .dropdown-menu {
        margin: -0.07rem 0 0 0;
      }
      .dropdown-menu:hover {
          display: block;
      }
      &.dropdown > .nav-link:hover {
        cursor: pointer;

        & + .dropdown-menu {
          display: block;
        }
      }
    }
  }

  form[role=search] {
    flex: 1;
    & .form-item {
      height: 100%;
      display: block;
      flex: 6;
      &:last-child {
        flex: 1;
      }
    }
  }

  input[role=search] {
    @include set-font();
    font-size: 0.9rem !important;
    position: relative;
    border: 0px;
    border-radius: 0px;
    width: 30%;
    height: 100%;
    @include set-prefix("transition", "width .5s linear");
    &:focus {
      border-bottom: 1px solid $border-color-primary;
      width: 100%;
    }
    &::-webkit-input-placeholder {
      @include set-font("Light", "italic");
    }
  }
}
