.navbar {
  border-bottom: 1px solid $color-primary;
  #navbar-content {
    align-self: stretch;
  }

  .navbar-nav {
    flex: 4;
  }

  .navbar-toggler-left {
    position: static;
    margin-right: 1rem;
  }

  .navbar-brand {
    flex: 2;
  }

  .nav-item {
    position: relative;
    &:hover {
      &:after{
        @include show-line("bottom-right");
        height: 2px;
        width: 100%;
        background: $color-primary;
      }
    }
    &.active {
      .nav-link {
        color: $selected-color-primary;
        background-color: $color-primary;
      }
      &:hover {
        &:after{
          @include show-line("bottom-right");
        }
      }
    }

    & > .nav-link {
      display: table;
      height: 100%;
      & > span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  form[role=search] {
    flex: 1;
    & .form-item {
      height: 100%;
      display: block;
      flex: 6;
      &:last-child {
        flex: 1;
      }
    }
  }

  input[role=search] {
    @include set-font();
    font-size: 0.9rem !important;
    color: $disabled-text-color-primary;
    position: relative;
    border: 0px;
    border-radius: 0px;
    width: 30%;
    height: 100%;
    background-color: $selected-color-primary;
    border: 0px solid $active-text-color-primary;
    @include set-prefix("transition", "width .5s linear");
    &:focus {
      border-bottom: 1px solid $color-primary;
      color: $active-text-color-primary;
      width: 100%;
      &::-webkit-input-placeholder {
        color: $active-text-color-primary;
      }
    }
    &::-webkit-input-placeholder {
      @include set-font("Light", "italic");
      color: $disabled-text-color-primary;
    }
  }

  button[role=search] {
    height: 100%;
    border: 0px;
    border-radius: 0px;
    background-color: $selected-color-primary;
    & svg:hover {
      fill: $color-primary;
    }
  }
}
