/*=================================================================================

  OUR OWN VARIABLES SECTION

  ===============================================================================*/
$prefixes : (
  webkit : "-webkit-",
  moz    : "-moz-",
  o      : "-o-"
);

$dark       : #212121;
$grey       : #BDBDBD;
$grey-white : #FAFAFA;
$white      : #FFFFFF;
$light-cyan : #26C6DA;
$red        : #F44336;

$danger-color-primary : $red;
$border-color-primary : $light-cyan;
$bg-color-primary     : $grey-white;
$link-color-primary   : $grey;
$shadow-color-primary : $grey;

$navbar-bg-color     : $bg-color-primary;
$navbar-shadow-color : $shadow-color-primary;

$nav-item-hover-underline-bg : $border-color-primary;

$input-error-border-color : $danger-color-primary;

$modal-link-color : $link-color-primary;

/*=================================================================================

  BOOTSTRAP CUSTOMIZATION SECTION

  ===============================================================================*/
$btn-secondary-border             : $border-color-primary;
$btn-secondary-bg                 : $bg-color-primary;
