<header id="header">
  <nav class="navbar navbar-toggleable navbar-light pt-0 pb-0">
    <div class="d-flex">
      <button class="navbar-toggler navbar-toggler-left align-self-center" type="button" data-toggle="collapse" data-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand pt-2 pb-2" href="/"><h4 class="mb-0">CMS</h4></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-content">
      <!--Nav pills-->
      <ul class="nav nav-pills mr-auto">
        <% for (var i = 0; i < vm.header.pills.length; i++) { %>
        <li class="nav-item <% if (vm.header.pills[i].children.length) { %> dropdown <% } %>">
          <a href="<%= (vm.header.pills[i].url) ? vm.header.pills[i].url : "javascript:void(0)" %>" class="nav-link <% if (vm.header.pills[i].title === vm.activePillTitle) { %> active <% } %>">
            <span><%= vm.header.pills[i].title %></span>
          </a>
          <!--Dropdown menu-->
          <% if (vm.header.pills[i].children.length) { %>
          <div class="dropdown-menu">
            <% for (var j = 0; j < vm.header.pills[i].children.length; j++) { %>
            <a class="dropdown-item" href="<%= vm.header.pills[i].children[j].url %>"><%= vm.header.pills[i].children[j].title %></a>
            <% } %>
          </div>
          <% } %>
        <% } %>
      </ul>
      <!--Nav pills-->
      <!--Logout button-->
      <% if (session.authenticated) { %>
      <button type="button" class="btn btn-primary align-self-center" role="logout-btn" data-user-id="1234">
        <img src="/svg/login.svg" class="icon small" />
        <span class="small">Logout</span>
      </button>
      <!--Login button-->
      <% } else { %>
      <button type="button" class="btn btn-primary align-self-center" data-toggle="modal" data-target="#login">
        <img src="/svg/login.svg" class="icon small" />
        <span class="small">Login</span>
      </button>
      <% } %>
    </div>
  </nav>

  <!--START: LOGIN MODAL BOX-->
  <% if (!session.authenticated) { %>
  <div class="modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" data-target="login">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!--Username / email-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/username.svg" class="icon small" />
              </div>
              <input type="text" name="username-or-email" class="form-control" placeholder="Username / Email address" />
            </div>
            <!--Password-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/password.svg" class="icon small" />
              </div>
              <input type="password" name="password" class="form-control" placeholder="Password" />
            </div>
            <!--Login-->
            <div class="d-flex flex-column">
              <button type="submit" class="btn btn-primary mb-3">Login</button>
              <div class="align-self-center">Not a member yet? <a href="#sign-up" data-toggle="modal" data-dismiss="modal">Sign up now</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--END: LOGIN MODAL BOX-->

  <!--START: SIGN UP MODAL BOX-->
  <div class="modal" id="sign-up" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign up</h5>
          <button type="button" class="close" data-dismiss="modal" data-target="sign-up">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <!--Display name-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/display-name.svg" class="icon small" />
              </div>
              <input type="text" name="displayName" class="form-control" placeholder="Display name">
            </div>
            <!--Username-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/username.svg" class="icon small" />
              </div>
              <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <!--Email-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/email.svg" class="icon small" />
              </div>
              <input type="text" name="email" class="form-control" placeholder="Email address">
            </div>
            <!--Password-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/password.svg" class="icon small" />
              </div>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <!--Confirmed password-->
            <div class="input-group mb-3">
              <div class="input-group-addon">
                <img src="/svg/password.svg" class="icon small" />
              </div>
              <input type="password" name="confirmedPassword" class="form-control" placeholder="Confirmed password">
            </div>
            <!--Sign up-->
            <div class="d-flex flex-column">
              <button type="submit" class="btn btn-primary mb-3">Sign up</button>
              <div class="align-self-center">Already a member? <a href="#login" data-toggle="modal" data-dismiss="modal">Login here</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--END: SIGN UP MODAL BOX-->
  <% } %>
</header>