<nav class="navbar navbar-toggleable navbar-light bg-primary pt-0 pb-0">
  <div class="d-flex">
    <button class="navbar-toggler navbar-toggler-left align-self-center" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pt-2 pb-2" href="#"><h2 class="mb-0">IT Geeks</h2></a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span>Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span>Threads</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span>Projects</span></a>
      </li>
    </ul>
    <button type="button" class="btn btn-secondary align-self-center" data-toggle="modal" data-target="#login">
      <svg class="icon small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <path d="M0 0h48v48h-48z" fill="none"/>
        <path d="M42 6.02h-36c-2.21 0-4 1.79-4 4v7.98h4v-8.02h36v28.06h-36v-8.04h-4v8.02c0 2.21 1.79 3.96 4 3.96h36c2.21 0 4-1.76 4-3.96v-28c0-2.21-1.79-4-4-4zm-20 25.98l8-8-8-8v6h-20v4h20v6z"/>
      </svg>
      <span class="small">Login</span>
    </button>
  </div>
</nav>
