
<body>
    <div style="margin:10% auto;display:flex; justify-content:center; flex-direction:row;">


        <div id="middle" style="width:30%;">
            <h1>Sign Up Page</h1>
            <div style="width:100%;">
                <form method="POST" action="/User/create" class="signup">
                    <div style="display:flex; flex-direction:column;justify-content:space-between;height:auto;">
                        <input type="text" placeholder="User Name" name="name" />
                        <input type="text" placeholder="Title" name="title" />
                        <input type="text" placeholder="Email" name="email"/>
                        <input type="password" placeholder="Password" name="password" />
                        <input type="password" placeholder="Confirm Password" name="confirmation" />
                        <input type="submit" value="Sign Up" />
                        <!-- Brian 20170730 - Start -->
                        <!-- csrf: Cross Site Request Forgery, Reason:under research -->
                        <!-- Brian End -->
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </div>
                </form>
            </div>
            <!--Brian 20170730 - Start -->
            <!-- Code below is to display Flash Error Message to client is Json type string. -->
            <!-- Brian End -->
                <% if(flash && flash.err){ %>
            <ul>
                    <% Object.keys(flash.err).forEach(function(error) {%>
                    <li>
                    <%- JSON.stringify(flash.err[error]) %>
                        </li>
                    <% }) %>
            </ul>
                <%}%>
        </div>
    </div>
</body>
